<h2 mat-dialog-title>Adding User Card</h2>
<mat-dialog-content>
  <form [formGroup]="myForm" class="create-edit-user__form">
    <mat-form-field>
      <mat-label>Enter your name</mat-label>
      <input
        matInput
        formControlName="name"
      />
      <mat-error *ngIf="myForm.controls['name'].invalid && myForm.controls['name'].touched">
        Incoorect name!
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Enter your username</mat-label>
      <input
        matInput
        formControlName="username"
      />
      <mat-error *ngIf="myForm.controls['username'].invalid && myForm.controls['username'].touched">
        Incoorect username!
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Enter your email</mat-label>
      <input
        matInput
        formControlName="email"
        placeholder="mail@gmail.com"
      />
      <mat-error *ngIf="myForm.controls['email'].invalid && myForm.controls['email'].touched">
        Incorrect email!
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button
    (click)="addUserCard()"
    [disabled]="myForm.invalid"
    color="primary"
    mat-flat-button
    mat-dialog-close
  >Save</button>
  <button
    mat-stroked-button
    mat-dialog-close
  >Close</button>
</mat-dialog-actions>
